@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="results"><ul></ul></div>
<button class="btn btn-primary" id="get-cars">Click</button>
@section scripts{
    <script>
        const list = document.querySelector('.results ul');
        console.log(list);
        const button = document.getElementById('get-cars');
        console.log(button);
        button.addEventListener('click', ()=>{
            console.log('click');
            fetch("/api/cars")
            .then(response => response.json())
            .then(cars => {
                for(let i =0;i< cars.length;i++){
                    let item = document.createElement('li');
                    item.innerText =  `${cars[i].id} ${cars[i].make}`;
                    list.appendChild(item);
                }
            });
        });
    </script>
}